
body{
    overflow: hidden;

}

#game-window {
    display: flex;
    flex-direction: columnm;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    max-width: 50%;
}

#game-container canvas {
    border: 5px solid black;
    outline: none;
    display: block;
    margin: 20px;
    padding: 10px;
}

#debug-wrapper {
    border: 5px solid white;
    justify-content: center;
    padding: 50px;
}

#debug-window {
    background-color: rgba(140, 125, 125, 0.5);
    font-family: monospace;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    margin: 10px;
}
#debug-window h3 {
    text-align: center;
    padding: 30px;
}

#debug-window button {
    margin: 5px;
    padding: auto 10px;

}

/* Style the slider */
.debug-slider {
    display: flex;
    justify-content: center;
    flex-direction: row;

    width: 100%;
    padding: 10px;
    background: #31435bbb;
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.debug-info {
    margin: 10px;

    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;

    width: 25%;
}

